.example-full-width {
    width: 100%;
  }
  .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}